subtext {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #a84d23;
  font-size: 11pt;
  text-decoration: Nnne; /* no underline */
}

.Ingredients-info {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  z-index: 9;
  border-radius: 5px;
}

#RecipeCardLink:hover .Ingredients-info {
  display: block;
  opacity: 1;
}

.search-toggle-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.search-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 11;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.search-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.search-input {
  width: 100%;
  max-width: 800px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

recipeTitle {
  font-family: "Frank Ruhl Libre";
  font-style: normal;
  font-weight: bold;
  font-size: 18pt;
  line-height: 120%;
  display: block;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

#RecipeCardLink {
  margin: 0px 0px 20px 20px;
}

RecipeCard {
  display: block;
}

RecipeCard:hover {
  box-shadow: 6px 6px 0px #ffb800;
  top: -6px;
  left: -6px;
}

#bottomBar {
  position: absolute;
  bottom: 0px;
}

#bottomBarLeft {
  text-align: left;
}

#bottomBarRight {
  text-align: right;
}
